<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	h1>Spring 練習問題 基礎編 Practice6-03</h1>

	データベース操作 並べ替え・主キー検索
	<hr>
	<p>
	<table>
		<h4>果物名一覧</h4>
		<table>
			<tr>
				<td>ID</td>
				<td>名前</td>
			</tr>
			</tr>
			<tr>
			<tr th:each="fruit:${fruitsList}">
				<td th:text="${fruit.fruitId}"></td>
				<td><a th:href="@{/fruits/detail/} + ${fruit.fruitId}" th:text="${fruit.fruitName}"></a></td>
			</tr>
		</table>
</body>

</html>