<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>Spring 練習問題 基礎編 Practice6-06</h1>

	データベース操作 更新
	<hr>
	<p>
	<h4>果物情報 更新</h4>
	<form th:action="@{/fruits/update/complete/{fruitId}(fruitId=${fruit.fruitId})}" method="post">
		<table>
			<tr>
				<td>ID</td>
				<td th:text="${fruit.fruitId}"></td>
			</tr>
			<tr>
				<td>フルーツ名</td>
				<td><input type="text" name="fruitName" th:value="${fruit.fruitName}" /></td>
			</tr>
			<tr>
				<td>旬の季節</td>
				<td><select name="seasonMonth">
						<option value="1">1月</option>
						<option value="2">2月</option>
						<option value="3">3月</option>
						<option value="4">4月</option>
						<option value="5">5月</option>
						<option value="6">6月</option>
						<option value="7">7月</option>
						<option value="8">8月</option>
						<option value="9">9月</option>
						<option value="10">10月</option>
						<option value="11">11月</option>
						<option value="12">12月</option>
						<option value="13">通年</option>
					</select></td>
			</tr>

		</table>
		<input type="submit" value="更新" />
	</form>
	</p>
</body>

</html>