<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>Spring 練習問題 基礎編 Practice8-03</h1>

	データベース操作(JPQL) @Queryの利用
	<hr>
	<p>
	<h4>フルーツショップ 検索結果</h4>
	<table>
		<tr>
			<td>ID</td>
			<td>名前</td>
			<td>価格</td>
		</tr>
		<tr th:each="item:${itemsList}">
			<td th:text="${item.itemId}"></td>
			<td th:text="${item.itemName}"></td>
			<td th:text="${item.price}"></td>
		</tr>
	</table>
	</p>

</body>

</html>