<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>Spring 練習問題 基礎編 Practice10-01</h1>

	入力チェック、メッセージ出力の利用
	<hr>
	<p>
	<h4>下記の項目を入力し送信ボタンをクリックしてください。</h4>
	<form th:action="@{/personal_info/check}" method="post" th:object="${personalInfoForm}">
		<table>
			<tr>
				<td>郵便番号</td>
				<td><input type="text" th:field="*{postalCode}" /></td>
				<td>形式:nnn-nnnn n:0-9の半角数字</td>
			</tr>
			<tr>
				<td colspan=2 th:errors="*{postalCode}" style="color:red"></td>
			</tr>
			<tr>
				<td>都道府県名</td>
				<td><input type="text" th:field="*{prefName}" /></td>
				<td>形式:3文字以上、4文字以下 入力例:千葉県</td>
			</tr>
			<tr>
				<td colspan=2 th:errors="*{prefName}" style="color:red"></td>
			</tr>
			<tr>
				<td>年齢</td>
				<td><input type="text" th:field="*{age}" /></td>
				<td>形式:半角数字 18歳以上120歳以下</td>
			</tr>
			<tr>
				<td colspan=2 th:errors="*{age}" style="color:red"></td>
			</tr>
		</table>
		<input type="submit" value="送信" />
	</form>
	</p>

</body>

</html>