<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>Spring 練習問題 基礎編 Practice10-01</h1>

	入力チェック、メッセージ出力の利用
	<hr>
	<p>
	<h4>入力チェック 異常なし</h4>

	メッセージ:<span th:text="#{message.thankyou}"></span><br>
	<br>
	郵便番号:<span th:text="${personalInfoForm.postalCode}"></span><br>
	都道府県名:<span th:text="${personalInfoForm.prefName}"></span><br>
	年齢:<span th:text="${personalInfoForm.age}"></span><br>

	</p>

</body>

</html>