<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>Spring 練習問題 基礎編 Practice9-01</h1>

	入力チェックの利用
	<hr>
	<p>
	<h4>下記の項目を入力し送信ボタンをクリックしてください。</h4>
	<form th:action="@{/body_temp/check}" method="post" th:object="${bodyTempForm}">
		<table>
			<tr>
				<td>日付</td>
				<td><input type="text" th:field="*{inputDate}" /></td>
				<td>形式:yyyy/MM/dd</td>
			</tr>
			<tr>
				<td colspan=2 th:errors="*{inputDate}" style="color:red"></td>
			</tr>
			<tr>
				<td>体温</td>
				<td><input type="text" th:field="*{bodyTemp}" /></td>
				<td>最小:30.0、最大:45.00</td>
			</tr>
			<tr>
				<td colspan=2 th:errors="*{bodyTemp}" style="color:red"></td>
			</tr>
		</table>
		<input type="submit" value="送信" />
	</form>
	</p>

</body>

</html>